

<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="form-container">
                    <h3 class="title">Inscription</h3>
                    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="Register()">
                        <div class="form-group">
                            <label>Pdp</label>
                            <input type="text" class="form-control" placeholder="Pdp" formControlName="pdp">
                        </div>
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
                        </div>
                        <div class="form-group">
                            <label>Prénom</label>
                            <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">
                        </div>
                        <div class="form-group">
                            <label>Pseudo</label>
                            <input type="text" class="form-control" placeholder="Pseudo" formControlName="pseudo">
                            <ng-container *ngIf="form.controls['pseudo'].touched">
                            <h6 color="red" *ngIf="form.controls['pseudo'].errors">
                                {{ form.controls['pseudo'].errors['name'] }}
                            </h6>
                            </ng-container>
                        </div>
            
                        <div class="form-group">
                            <label>Email :</label>
                            <input type="email" formControlName="email" class="form-control"  placeholder="Email">
                            <ng-container *ngIf="form.controls['email'].touched">
                            <h6 color="red" *ngIf="form.controls['email'].errors">
                                {{ form.controls['email'].errors['name'] }}
                            </h6>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label>Mdp</label>
                            <input type="password" class="form-control" placeholder="Mdp" formControlName="mdp">
                        </div>
                        <div class="form-group">
                            <label>Mdp Confirmation :</label>
                            <input type="password" formControlName="mdpConfirmation" class="form-control"  placeholder="Mdp Confirmation">
                            <ng-container *ngIf="form.controls['mdpConfirmation'].touched">
                                <h6 class="invalid-feedback" color="red" *ngIf="form.errors">
                                    {{ form.errors['twoPasswordCheck'] }}
                                </h6>
                            </ng-container>
                        </div>
                        <button [disabled]="form.invalid" class="btn signup">Creation du compte</button>
                    </form>
                    <h6>Déjà un compte? Clique ici pour te connecter <a routerLink="/Login">Login</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>


