<app-navbar />
<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">Messages privés</h1>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

				
					<a class="list-group-item list-group-item-action border-0" *ngFor="let u of test">					
						<div class="d-flex align-items-start">
							<img src="{{u.pdp}}" class="rounded-circle mr-1" alt="{{u.pseudo}}" width="40" height="40">
							<div class="flex-grow-1 ml-3" (click)="afficherMessage(u.utilisateurId)">
								{{u.pseudo}}
                            
                                
                           
							</div>
						</div>
					</a>
				

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>


				<div class="col-12 col-lg-7 col-xl-9">
					<div class="position-relative">
						<div class="chat-messages p-4">


                            <div *ngFor="let m of listMessagePriveByUser">
                                <div *ngIf="m.expediteur.toString() == currentId; then currentUser; else otherUser"></div>
                                <ng-template #currentUser>
                                    <div class="chat-message-right pb-4" >
                                        <div>
                                           
                                            <div class="text-muted small text-nowrap mt-2">{{m.heure | date:'dd/MM/yy, à HH:mm'}}</div>
                                        </div>
                                        <div  class="flex-shrink-1 bg-primary rounded py-2 px-3 mr-3 ">
                                            <div class="fw-bolder fs-6">Moi</div>
                                            {{m.message}}
                                        </div>
                                    </div>

                                </ng-template>
    
                                    <ng-template #otherUser>
                                         <div class="chat-message-left pb-4">
                                                <div>
                                                    <img src="{{m.pdp}}" class="rounded-circle mr-1" alt="{{m.pseudo}}" width="40" height="40">
                                                    <div class="text-muted small text-nowrap mt-2">{{m.heure | date:'dd/MM/yy, à HH:mm'}}</div>
                                                </div>
                                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                    <div class="fw-bolder fs-6">{{m.pseudo}}</div>
                                                    {{m.message}}
                                                </div>                        
                                        </div>
                                    </ng-template>
                                </div>                  
                                
                                
                            </div>
                            <form [formGroup]="messageForm">
                                <div class="flex-grow-0 py-3 px-4 border-top">
                                  <div class="input-group">
                                    <input type="text" formControlName="message" class="form-control" placeholder="Message">
                                    <button (click)="onSubmitMessage()" class="btn btn-primary">Envoyer</button>                
                                  </div>
                                </div>
                              </form> 
					</div>
				</div>
			</div>
		</div>
	</div>
</main>